---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2025 {`|`}
        {SITE.NAME}
      </div>
      <div class="flex justify-between items-center">
        <BackToTop />
      </div>
    </div>
  </Container>
</footer>
